@model StraightPoolScore.StraightPoolGame

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/mobiscroll")

<style>
    #score-row td {
        font-size:xx-large;
        border-radius:10px;
        background: lightblue;
    }
</style>

@using (Html.BeginForm("EndTurn", "Game", new { id = Model.Id })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table border="1" style="text-align:center">
        <tr>
            @if (Model.CurrentPlayerId == Model.Player1.Id) {
                <td style="font-weight:bold">@Model.Player1.Name</td>
            } else {
                <td>@Model.Player1.Name</td>
            }
            <td rowspan="2">
                Race to @(Model.Limit)<br />
                @(Model.BallsRemaining) balls remaining
            </td>
            @if (Model.CurrentPlayerId == Model.Player2.Id) {
                <td style="font-weight:bold">@Model.Player2.Name</td>
            } else {
                <td>@Model.Player2.Name</td>
            }
        </tr>
        <tr id="score-row">
            <td>@Model.Player1.Score</td>
            <td>@Model.Player2.Score</td>
        </tr>
        <tr>
            <td>@Model.Player1.AverageBallsPerInning</td>
            <td>BPI</td>
            <td>@Model.Player2.AverageBallsPerInning</td>
        </tr>
        <tr>
            <td>@Model.Player1.HighRun</td>
            <td>High Run</td>
            <td>@Model.Player2.HighRun</td>
        </tr>
        <tr>
            <td>@Model.Player1.TotalFouls</td>
            <td>Total Fouls</td>
            <td>@Model.Player2.TotalFouls</td>
        </tr>
        <tr>
            <td>@Model.Player1.TotalSafeties</td>
            <td>Total Safeties</td>
            <td>@Model.Player2.TotalSafeties</td>
        </tr>

        <tr>
            <td colspan="3">
                @Html.EditorFor(model => model.BallsRemaining, "Mobiscroll")
                <br />
                <input type="submit" name="ending" value="Foul" />
@*                <input type="submit" name="ending" value="Breaking Foul" /> only when using opening break rules *@
                <input type="submit" name="ending" value="Miss" />
                <input type="submit" name="ending" value="Safety" />
                <input type="submit" name="ending" value="NewRack" />
@*                <input type="submit" name="ending" value="Re-break" /> only after a "breaking foul" *@
            </td>
        </tr>
    </table>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mobiscroll")
    <script type="text/javascript">
        $(document).on('pageinit', null, function () {
            $(".mobiscroll").mobiscroll().select({ display: "inline", theme: "android-ics" });
        });
    </script>
}
