@model IEnumerable<StraightPoolScore.StraightPoolGame>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of Games</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create") | 
        @if (StraightPoolScore.Web.MvcApplication.IsDebug) {
            <a href="http://localhost:8080/raven/studio.html" target="_blank">Raven Studio</a>
        } else {
            <a href="https://ibis.ravenhq.com/raven/studio.html#/home?api-key=ab4d08c6-3286-4778-a94e-3b3895aeb925&database=AppHarbor_979410e3-b382-4991-b710-84af96219fb0" target="_blank">Raven Studio</a>
        }
    </p>
    <table>
        <tr>
            <th>
                Game
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player1.Name) (@Html.DisplayFor(modelItem => item.Player1.Score)) vs @Html.DisplayFor(modelItem => item.Player2.Name) (@Html.DisplayFor(modelItem => item.Player2.Score))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
